doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Baby Check-in
    link(rel='stylesheet', href='/css/checkedinbabies.css') 
  body
    header
      h1 Babies Check-in
    main
      table
        thead
          tr
            th Baby Name
            th Gender
            th Age
            th Location
            th Arrival Time
            th Parents' Names
            th Stay Duration
            th Amount
            th Baby Number
            th Sitter
            th Status
            th Checkout 
            th Update 
            th Delete 
        tbody
          each baby in babies 
            tr
              td #{baby.babyName}
              td #{baby.gender}
              td #{baby.age}
              td #{baby.location}
              td #{baby.timeOfArrival}
              td #{baby.parentsName}
              td #{baby.periodOfStay}
              td #{baby.amount}
              td #{baby.babyNumber}
              td #{baby.sitter}
              td #{baby.status}
              td
                form(action=`/babyCheckout/${baby._id}`, method='POST') 
                  button(type='submit') Check-out
              td 
                a(href="/babyupdate/"+ baby._id, class="update-button") Update
              td 
                form(method="POST" action="/deleted")
                  input(type="hidden" name="id" value=baby._id)
                  button(type="submit") Delete     
    footer
      p © 2024 Baby Check-in
