doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Clock In Baby
  link(rel='stylesheet' href='/css/clockin.css')
h1 Clock In Baby
form#clockInForm(action= '/babyClockIn?id='+baby._id  method='POST')
  .form-group
    label(for='babyName') Baby&apos;s Name:
    input#babyName(type='text' name='babyName' value=baby.babyName)
  .form-group
    label(for='sitter') Sitter:
    select#sitter.form-control(name='sitter')
        if sitters.length
        each sitter in sitters
            option(value=sitter_id) #{sitter.name}
    small#sitterErr
  .form-group
    label(for='personName') Person Who Brought the Baby:
    input#personName(type='text' name='personName' value=baby.personName)
  .form-group
    label(for='personContact') Contact of the Person:
    input#personContact(type='text' name='personContact' value=baby.personContact)
  .form-group
    label(for='personContact') Amount paid:
    input#amount(type='text' name='amount' value=baby.amount)
  .form-group
    label(for='clockInTime') Clock In Time:
    input#clockInTime(type='text' name='clockInTime' value=baby.clockInTime)
  input(type='submit' value='Clock In')
//- script(src='/js/clockin.js')
