doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dolls Sales System
    link(rel='stylesheet', href='/css/dollsales.css') 
  body
    header
      h1 Dolls Sales System
    #summary
      p Total Dolls Available: #{totalDollsAvailable}
      p Total Dolls Sold: #{totalDollsSold}
      a(href='/dolls') Add New Doll
    table#availableDolls
      caption Available Dolls
      thead
        tr
          th Doll Name 
          th Price
          th Number
          th Sell Now
      tbody
        each doll in availableDolls
          tr
            td #{doll.dollName}
            td #{doll.price}
            td #{doll.number}
            td
              a.sell-button(href=`/sell/${doll._id}`) Sell Now
    
