doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Sitter Payments Management
    link(rel='stylesheet', href='/css/payments.css')
  body
    header
      h1 Sitter Payments Management
    main
      h2 Sitter Payments
      table
        thead
          tr
            th Sitter Name
            th Babies Attended
            th Payment (UGX)
            th Action
        tbody
          each sitter in sitters
            tr
              td #{sitter.firstName} #{sitter.lastName}
              td #{sitter.babiesAttended}
              td #{sitter.babiesAttended * 3000}
              td
                form(action=`/payments/${sitter._id}`, method='POST')
                  button.check-in-button(type='submit') Pay
    script(src='../public/js/paymentsmanagement.js')
