doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sitters Management
  link(rel='stylesheet' href='/css/sittersmanagment.css')
  <script src="https://kit.fontawesome.com/d4a6120677.js" crossorigin="anonymous"></script>
header
    h1 Sitters Management
main
    a(href="/registersitter")
      button#happy Add Sitter
    section
      h2 Registered Sitters
      form#searchForm(action='/sitterslist', method='GET')
        input#searchInput(type='text', placeholder='Search...', name='q', value= q)
        button#searchButton(type='submit') Search
      table
        thead
          tr
            th First Name
            th Second Name
            th Location
            th Date of Birth
            th Gender
            th Next of Kin
            th NIN
            th Recommender&apos;s Name
            // <th>Religion</th>
            th Education Level
            th Contact
            th Babysitter number
            th Available
            th Action
            th Delete
        tbody#sitters-list
          if sitters.length 
          each sitter in sitters 
            tr 
              td #{sitter.firstName}
              td #{sitter.lastName}
              td #{sitter.location}
              td #{sitter.dob}
              td #{sitter.gender}
              td #{sitter.nextOfKin}
              td #{sitter.nin}
              td #{sitter.recommender}
              td #{sitter.educationLevel}
              td #{sitter.contact}
              td #{sitter.sittersNumber}
              td
                if sitter.available
                  | YES
                  form(action=`/sitterCheckin/${sitter._id}`, method='POST')
                    button.check-in-button(type='submit') Check-out
                else
                  | NO
                  form(action=`/sitterCheckout/${sitter._id}`, method='POST')
                    button.check-in-button(type='submit') Check-in
              td 
                a(href="/sitterupdate/"+ sitter._id) <i class="fa-solid fa-pen-to-square"></i>
              td 
                form(method="POST" action="/delete")
                  input(type="hidden" name="id" value=sitter._id)
                  button(type="submit") <i class="fa-solid fa-trash"></i>
footer.footer
      p &copy; Aballo Janet @2024. All rights reserved.                
script(src='../public/js/sittersmanagement.js')

        